<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="BLL.UserInfoService" behaviorConfiguration="behaviorConfiguration">
				<host>
					<baseAddresses>
						<!--服务地址-->
						<add baseAddress="http://localhost:8000/"/>
					</baseAddresses>
				</host>
				<!--服务契约-->
				<endpoint address="" binding="basicHttpBinding" contract="IBLL.IUserInfoService"></endpoint>
			</service>
			<!--多个服务配置service节点即可-->
			<!--<service name="BLL.UserInfoService" behaviorConfiguration="behaviorConfiguration">
				<host>
					<baseAddresses>
						-->
			<!--服务地址-->
			<!--
						<add baseAddress="http://localhost:8000/"/>
					</baseAddresses>
				</host>
				-->
			<!--服务契约-->
			<!--
				<endpoint address="" binding="basicHttpBinding" contract="IBLL.IUserInfoService"></endpoint>
			</service>-->
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="behaviorConfiguration">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>