<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--<configSections>
		<sectionGroup name="enyim.com">
			<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
		</sectionGroup>
	</configSections>
	<enyim.com>
		<memcached protocol="Binary">
			<servers>
				<add address="127.0.0.1" port="11211" />
				--><!--配置分布式缓存--><!--
				--><!--<add address="118.192.146.104" port="11211" />--><!--
			</servers>
			<socketPool minPoolSize="10" maxPoolSize="20" connectionTimeout="00:00:10" deadTimeout="00:00:10" />
			<keyTransformer type="Enyim.Caching.Memcached.TigerHashKeyTransformer, Enyim.Caching"/>
		</memcached>
	</enyim.com>-->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>